# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
react-access-manager-*.tgz
access-manager-react-auth-*.tgz
access-manager-react-permission-*.tgz


# TypeScript
*.tsbuildinfo

# Editor directories and files
.vscode/
.idea/
